<script>
export default {
    data() {
        return {

        }
    },

    props: {
        label: {default: '', required: true, type: String}
    }
}
</script>

<template>
<div class="collapse-item">
    <div class="collapse-item-header header-elements-inline">
        <h6>
    </div>
</div>
</template>