<script>
export default {
	data() {
		return {
			modalTitle: this.title,
			modalWidth: this.width,
			modalHeight: this.height
		}		
	},

	mounted() {
		document.addEventListener('keydown', this.keydownListener);
		document.body.style = "overflow: hidden";
	},

	destroyed() {
		document.removeEventListener('keyup', this.keydownListener);
		document.body.style = "overflow: auto";
	},
	
	methods: {
		keydownListener(e) {
			if (e.keyCode == 27) {
				this.close();
			}
		},

		close() {
			this.$emit('$cancel');
		}
	},

	props: {
		title: String,
		width: String,
		height: String
	}
}
</script>

<template>
    <transition name="overlay-fade">
        <div class="modal-mask">
            <div class="modal-wrapper" >
                <div id="modal-container" :style="{'width': modalWidth, 'height': modalHeight}">

					<div class="modal-header">
						<h3> {{ modalTitle }} </h3>

						<div class="close-btn" @click="close">
							<i class="icon icon-cross2"> </i>
						</div>
					</div>

					<div class="modal-body h-100">
						<slot></slot>
					</div>					
                </div>
            </div>
        </div>
    </transition>
</template>
    
<style>
    .modal-mask {
		position: fixed;
		z-index: 2000;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, .5);
		display: table;
		transition: opacity .1s ease;		
	}

	.modal-wrapper {
		margin: 0 auto;
    	margin-top: 100px;
	}

	#modal-container {
		width: 580px;
		margin: 0px auto;
		background-color: #f0f0f0;
		box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
		transition: all .1s ease;
		border-radius: 2px;
	}

	.modal-header {
		height: 55px;
		background-color: #f0f0f0;
		border: none;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px;
	}

	.modal-header h3 {
		margin-left: 5px;
		color: #5A5A5A;
		font-size: 1.6rem;
		line-height: 24px;
		font-weight: 600;
	}


	.modal-default-button {
		float: right;
	}

	/* .modal-enter {
		opacity: 0;
	}

	.modal-leave-active {
		opacity: 0;
	}

	.modal-enter .modal-container,
	.modal-leave-active .modal-container {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	} */

	.overlay-fade-enter-active,
.overlay-fade-leave-active {
  transition: all 0.2s;
}
.overlay-fade-enter,
.overlay-fade-leave-active {
  opacity: 0;
}

	.close-btn i {
		color: #424B5A;
		cursor: pointer;
	}
</style>
