<script>
export default {
    methods: {
        routeToDashboard() {
            this.$router.push('/');
        }
    }
}
</script>

<template>
<div>    
    <div class="header">
        <div class="header-logo" @click="routeToDashboard">
            <img src="img/logo3.png" width="62" height="62"/>
            <label>
                Compass
                <span>Competency Assessment Platform </span>
            </label>
        </div>

        <ul class="nav">
            <li><router-link to="/dashboard">Dashboard</router-link></li>
            <li><a href="#">Page 1</a></li>
            <li><a href="#">Page 2</a></li>
        </ul>   

        <div class="user-profile">
            <img src="img/user1.png" />
            <i class="icon icon-arrow-down32"></i>
        </div>
    </div>
    
    <router-view></router-view>

</div>
</template>

<style>
.header {
    height: 100px;
    background-color: #3a3d48;
    color: #ffffff;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    width: 200px;
    margin-left: 20px;
    margin-top: 20px;
    cursor: pointer;
}

.header-logo>label {
    font-size: 1.7rem;
    text-transform: uppercase;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-left: 10px;
    max-width: 120px;
    line-height: 1.4;
    cursor: pointer;
}

.header-logo>label>span {
    font-size: 1rem;
    text-transform: none;
}

.nav {
    list-style: none;
    display: flex;
    max-width: 1100px;
    width: 100%;
    height: 60px;
    align-self: flex-end;
    font-size: 1.3rem;
}

.nav>li {
    padding: 10px;
}

.nav>li>a {
    color: #ffffff;
}   

.user-profile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
    width: 220px;
}

.user-profile img {
    width: 48px;
    height: 48px;
    margin-right: 10px;
    cursor: not-allowed;
}

.user-profile i {
    font-size: 1.2rem;
    margin-top: 10px;
    cursor: not-allowed;
}
</style>