<script>
import GlossaryService from '@services/GlossaryService';
import DescriptionModal from '@components/modal/Description.vue';
import ProficiencyLevelModel from '@components/modal/ProficiencyLevelInfo.vue';

const KEY_MODE_IN_LOCAL_STORAGE = "competency_model_mode";

export default {
    data() {
        return {
            knowledgeAreas: [],
            baTasks: [],
            proficiencyDescriptors: [],
            proficiencyLevels: [],
            commonTechniques: [],
            commonTechniqueUsages:[],
            techniqueProficiencyLevels: [],

            mode: 0
        }
    },

    created() {
        let cacheMode = localStorage.getItem(KEY_MODE_IN_LOCAL_STORAGE);
        if (cacheMode != null) {
            this.mode = cacheMode;
        }

        GlossaryService.get()
            .then(data => {
                this.proficiencyDescriptors = data.proficiencyDescriptors;
                this.proficiencyLevels = data.proficiencyLevels;
                this.techniqueProficiencyLevels = data.techniqueProficiencyLevels;

                this.commonTechniques = data.commonTechniqueUsages;
                this.commonTechniqueUsages = data.commonTechniqueUsages
                    .map(v => {
                        v.commonTechniques = data.commonTechniques.find(c => v.CommonTechniquesId == c.Id)
                        return v;
                    });

                this.baTasks = data.baTasks
                    .map(v => {
                        v.proficiencyDescriptors = this.proficiencyDescriptors.filter(l => v.Id == l.BATaskId);
                        v.commonTechniques = this.commonTechniqueUsages.filter(c => v.Id == c.BATaskId);
                        
                        v.hoverProficiencyLevel = 0;
                        v.proficiencyLevel = 0;
                        v.open = false;
                        v.mode = 0;

                        return v;
                    });

                
                this.knowledgeAreas = 
                    data.knowledgeAreas
                        .map(v => {
                            v.baTasks = this.baTasks.filter(b => v.Id == b.KnowledgeAreaId);
                            v.open = false;

                            return v;
                        })
                        .sort((a,b) => a.Id - b.Id);
            })
    },

    methods: {
        showDescription(name, definition) {
            this.$modal.show(DescriptionModal, name, {definition})
                .then(() => {})
                .catch(err => {});
        },

        showProficiencyLevel() {
            this.$modal.show(ProficiencyLevelModel, "Proficiency level", {}, "90%")
                .then(() => {})
                .catch(err => {});
        },

        proficiencyLevel(level) {
            let st = this.proficiencyLevels.find(v => v.Id == level);

            if (st == null) {
                return "";
            } else {
                return st.Name;
            }
        },

        techniqueProficiencyLevel(level) {
            let st = this.techniqueProficiencyLevels.find(v => v.Id == level);

            return st == null ? "" : st.Definition;
        },

        handleClickUpdateMode(mode) {
            this.mode = mode;
            localStorage.setItem(KEY_MODE_IN_LOCAL_STORAGE, mode);
            
            this.baTasks.forEach(v => {
                v.mode = 0
                v.open = false;
            });
        },

        handleClickUpdateBATaskMode(task, mode) {
            if (task.mode == mode) {
                task.mode = 0;
            } else {
                task.mode = mode;
            }
        }
    }
}
</script>

<template>
<div>
    <div class="main">
        <div class="container">
            <div class="main-header  header-elements-inline">
                <h1>COMPETENCY MODEL / {{ mode == 0 ? 'Detail view' : 'Table view'}} </h1>
                <div class="header-elements">
                    <i class="icon icon-tree6 cursor-pointer tooltip" @click="handleClickUpdateMode(0)"><span class="tooltiptext">Detail view</span></i>
                    <i class="icon icon-three-bars cursor-pointer tooltip" @click="handleClickUpdateMode(1)"><span class="tooltiptext">Table view</span></i>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-3">

        <div class="collapse">
            <div 
                class="collapse-item" 
                :key="v.Id"
                v-for="v in knowledgeAreas"
                >

                <div class="collapse-item-header header-elements-inline">
                    <h6>{{v.Name}}</h6>
                    <div class="header-elements">
                        <span> {{v.baTasks.length}} </span>
                        <i class="icon icon-info22" @click="showDescription(v.Name, v.Definition)"></i>
                        <i class="icon icon-arrow-down32" :class="{'rotate-180': v.open}" @click="v.open = !v.open"></i>
                    </div>
                </div>

                <div class="collapse-item-body" v-if="v.open">
                    
                    <div class="collapse ba-task">

                        <div 
                            class="collapse-item"
                            :key="t.Id"
                            v-for="t in v.baTasks"
                            >
                            <div class="collapse-item-header header-elements-inline">
                                <h6>{{t.Name}}</h6>
                                <div class="header-elements">
                                    <template v-if="mode != 0">
                                        <i class="icon icon-graduation2 tooltip" @click="handleClickUpdateBATaskMode(t, 1)"><span class="tooltiptext">Proficiency Descriptors</span></i>
                                        <i class="icon icon-hammer-wrench tooltip" @click="handleClickUpdateBATaskMode(t, 2)"><span class="tooltiptext">Common Techniques </span></i>
                                    </template>
                                    <i class="icon icon-info22" @click="showDescription(t.Name, t.Definition)" :style="mode != 0 ? 'margin-right: 26px': ''"></i>
                                    <i class="icon icon-arrow-down32" :class="{'rotate-180': t.open}" @click="t.open = !t.open" v-show="mode == 0"></i>
                                </div>
                            </div>

                            <div class="collapse-item-body" v-if="t.open || (mode != 0 && t.mode != 0)">
                                <template v-if="mode == 0">
                                    <div class="collapse-item-content">
                                        <div class="d-flex flex-wrap m-1">
                                            <p class="ka-definition">{{v.Definition}}</p>
                                        
                                            <div class="proficiency-level">
                                                <label>Proficiency Levels <i class="icon icon-info22  cursor-pointer" @click="showProficiencyLevel"></i></label>
                                                <span>
                                                    <!-- {{t.hoverProficiencyLevel > 0 ? proficiencyLevel(t.hoverProficiencyLevel) : proficiencyLevel(t.proficiencyLevel)}} -->
                                                </span>
                                                <div class="range">
                                                    <div class="general-awareness" @click="t.proficiencyLevel = 1" @mouseenter="t.hoverProficiencyLevel = 1" @mouseleave="t.hoverProficiencyLevel = 0">
                                                        <span v-if="(t.hoverProficiencyLevel || t.proficiencyLevel) == 1"> {{proficiencyLevel(1)}} </span>
                                                    </div>
                                                    <div class="practical-knowledge" @click="t.proficiencyLevel = 2" @mouseenter="t.hoverProficiencyLevel = 2" @mouseleave="t.hoverProficiencyLevel = 0">
                                                        <span v-if="(t.hoverProficiencyLevel || t.proficiencyLevel) == 2"> {{proficiencyLevel(2)}} </span>
                                                    </div>
                                                    <div class="skilled" @click="t.proficiencyLevel = 3" @mouseenter="t.hoverProficiencyLevel = 3" @mouseleave="t.hoverProficiencyLevel = 0">
                                                        <span v-if="(t.hoverProficiencyLevel || t.proficiencyLevel) == 3"> {{proficiencyLevel(3)}} </span>
                                                    </div>
                                                    <div class="expert" @click="t.proficiencyLevel = 4" @mouseenter="t.hoverProficiencyLevel = 4" @mouseleave="t.hoverProficiencyLevel = 0">
                                                        <span v-if="(t.hoverProficiencyLevel || t.proficiencyLevel) == 4"> {{proficiencyLevel(4)}} </span>
                                                    </div>
                                                    <div class="strategist" @click="t.proficiencyLevel = 5" @mouseenter="t.hoverProficiencyLevel = 5" @mouseleave="t.hoverProficiencyLevel = 0">
                                                        <span v-if="(t.hoverProficiencyLevel || t.proficiencyLevel) == 5"> {{proficiencyLevel(5)}} </span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="elements">
                                                <i class="icon icon-cross " @click="t.proficiencyLevel = 0" v-show="t.proficiencyLevel > 0"></i>
                                            </div>
                                        </div> 

                                        <template v-if="t.proficiencyLevel > 0">
                                            <h3 class="m-1"> Proficiency Descriptors</h3>
                                            <ul class="list-group">
                                                <li 
                                                    :key="descriptor.Id"
                                                    v-for="descriptor in t.proficiencyDescriptors.filter(v => v.ProficiencyLevelId == t.proficiencyLevel)"
                                                    >
                                                    {{descriptor.Descriptor}}
                                                </li>
                                            </ul>

                                            <h3 class="m-1 mt-3">Common Techniques / {{techniqueProficiencyLevel(t.proficiencyLevel)}}</h3>

                                            <div class="tag-section">
                                                <button
                                                    type="button"
                                                    class="btn btn-tag"
                                                    :key="tech.commonTechniques.Id"

                                                    @click="showDescription(tech.commonTechniques.Name, tech.Usage)"

                                                    v-for="tech in t.commonTechniques"
                                                    >
                                                    {{tech.commonTechniques.Name}}
                                                </button>
                                            </div>
                                        </template>                                    
                                    </div>

                                </template>
                                <template v-else>
                                    <div class="collapse-item-content">

                                        <div class="d-flex p-1" v-if="t.mode == 1">
                                            <div 
                                                class="col"
                                                :key="item.Id"
                                                v-for="item in proficiencyLevels"
                                                >
                                                <p>Level {{item.Id}}</p>
                                                <p class="mb-3">{{item.Name}}</p>
                                                
                                                <ul class="list-group">
                                                    <li 
                                                        :key="descriptor.Id"
                                                        v-for="descriptor in t.proficiencyDescriptors.filter(v => v.ProficiencyLevelId == item.Id)"
                                                        >
                                                        {{descriptor.Descriptor}}
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <template v-else-if="t.mode == 2">
                                            <div class="d-flex p-1">                                               
                                                
                                                <div 
                                                    class="col"
                                                    :key="item.Id"
                                                    v-for="item in proficiencyLevels"
                                                    >
                                                    <p>Level {{item.Id}}</p>
                                                    <p class="mb-3">{{item.Name}}</p>
                                                    <p> {{techniqueProficiencyLevel(item.Id)}}</p>
                                                </div>
                                            </div>                                            

                                            <div class="tag-section-without-bg mt-4">
                                                <button
                                                    type="button"
                                                    class="btn btn-tag"
                                                    :key="tech.commonTechniques.Id"

                                                    @click="showDescription(tech.commonTechniques.Name, tech.Usage)"

                                                    v-for="tech in t.commonTechniques"
                                                    >
                                                    {{tech.commonTechniques.Name}}
                                                </button>
                                            </div>

                                        </template>
                                    </div>
                               
                                </template>
                                
                                
                             </div>

                        </div>
                    </div>
                </div>



            </div>
        </div>


    </div>
</div>
</template>

<style>
.col p {
    text-align: center;
}

.col {
    width: 20%;
}

.ka-definition {
    font-size: 1.1rem;
    line-height: 1.4;
}


h3 {
    font-size: 1.2rem;
}

.collapse-item-content {
    border: 1px solid #e0e0e0;
    margin-bottom: 4px;
    /* box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.1); */
}

.elements {
    display: flex;
    align-items: center;
    min-width: 30px;
}

.elements i {
    padding: 0 5px;
    cursor: pointer;
}

.rotate-180 {
    transform: rotate(180deg);
}

.collapse-item-header i {
    cursor: pointer;
    transition: transform 0.3s;
    padding: 0 5px;
} 



/***/

/***/
.header-elements-inline {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

/***/


/*** Collapse component */
.collapse {
    margin: 5px 0;
}

.collapse-item-header {
    position: relative;
}

.collapse-item-header {
    font-size: 18px;
    text-transform: uppercase;
    background: #ebebeb;
    border: 1px solid #e0e0e0;
    color: #7f7f7f;
    padding: 15px 7px 12px 7px;
    margin-bottom: 6px;
    box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.1);
}

.collapse-item-header>h6 {
    font-size: 1.5rem;
}

.collapse-item-content {
    background: #ebebeb;
    /* border: 1px solid #e0e0e0; */
    /* margin: 4px 0; */
    color: #7f7f7f;
    padding: 7px;
    box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.1);
}

/*** ba-task*/
.ba-task .collapse-item-header>h6 {
    font-size: 1.2rem;
}

.ba-task .collapse-item-header {
    margin-bottom: 0px;
}

/***/

.btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-family: inherit;
    cursor: pointer;
}

.btn:hover {
    text-decoration: none;
}

.btn:focus,
.btn.focus {
    outline: 0;
}

.btn-tag {
    font-size: 1.1rem;
    color: #7f7f7f;
    border: 2px solid #bcbcbc;
    background: #e4e4e4;
    padding: 6px;
    border-radius: 3px;
    margin: 3px;
}

.tag-section-without-bg .btn-tag {
    background: #ebebeb;
}

.btn-tag:hover {
    background-color: #bababa;
    color: #efefef;
}

.proficiency-level {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    padding-left: 40px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.proficiency-level>label {
    font-size: 1.1rem;
    margin-bottom: 3px;
}

.range {
    display: flex;
}

.proficiency-level .range>div {
    width: 20%;
    margin: 0 1px;
    height: 6px;
    box-shadow: 2px 2px 1px 0 rgba(0,0,0,0.1);
    cursor: pointer;
}

.proficiency-level span {
    height: 25px;
    font-size: 1.2rem;
}

.general-awareness {
    background-color: rgb(250,239,229);
}

.practical-knowledge {
    background-color: rgb(245,217,190);
}

.skilled {
    background-color: rgb(237,174,129);
}

.expert {
    background-color: rgb(227,134,63);
}

.strategist {
    background-color: rgb(220,92,1);
}

.col .list-group {
    background: none;
}

.list-group {
    background: #e4e4e4;
    list-style: disc;
    padding: 5px;
    padding-left: 22px;
    font-size: 1rem;
}

.list-group>li {
    margin-bottom: 6px;
}

.list-group>li:last-child {
    margin-bottom: 0px;
}

.tag-section {
    background: #e4e4e4;
    padding: 5px;
}

/***/
.main {
    background: linear-gradient(to bottom,#3a3d48 0%, #3a3d48 50%, #e2e2e2 50%);
}

.main-header {
    font-size: 2.2rem;
    color: #7f7f7f;
    background: #ebebeb;
    padding: 15px 7px 10px 7px;
    border-radius: 2px;
    box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.1);
    /* border: 1px solid #e0e0e0; */
}

.main-header>h1 {
    font-size: 2.2rem;
}

.main-header .header-elements i {    
    font-size: 1.3rem;
    margin-right: 10px;
}

.accordion-group .card-header {
    font-size: 18px;
    padding: 7px;

}

.content {
    margin-top: 10px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 10px;
}


/**/
.card {
    position: relative;

}



.range div {
    position: relative;
}

.range div>span {
    position: absolute;
    top: -25px;
    text-align: center;
    width: 200px;
    margin-left: calc(-100px + 50%);
}

</style>