<script>
export default {
    data() {
        return {

        }
    }
}
</script>

<template>
<div>
    <div class="main">
        <div class="container">
            <div class="main-header">
                CAREER ACTION GUIDE
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <div class="wrapper-widget">
            <div class="widget">
                <div class="widget-header">
                    <h3>Familiarize yourself with the Business Analysis Competency Model</h3>
                </div>
                <div class="widget-body">
                    The Business Analysis Competency Model is a research and reference guide designed to provide business analysis practitioners with the information needed to continuously develop skills in real-time, in order to create better business outcomes.
                </div>
                <div class="widget-footer">
                    <router-link to="/competency-model"> LEARN MORE <i class="icon icon-arrow-right8 ml-2"> </i> </router-link> 
                </div>
            </div>

            <div class="widget">
                <div class="widget-header">
                    <h3>Assess your business analysis competencies</h3>
                </div>
                <div class="widget-body">
                    The business analysis self-assessment allows business analysis professionals to understand and compare standard levels to current levels of performance, using the foundational business analysis competencies.
                </div>
                <div class="widget-footer">
                    <p>LEARN MORE <i class="icon icon-arrow-right8 ml-2"> </i></p>
                </div>
            </div>

            <div class="widget">
                <div class="widget-header">
                    <h3>Create your career action plan</h3>
                </div>
                <div class="widget-body">
                    Once you have developed your plan, gained feedback on your plan, and have the support of your Mentor or Manager, you are ready to put your plan to work    
                </div>
                <div class="widget-footer">
                    <p>LEARN MORE <i class="icon icon-arrow-right8 ml-2"> </i></p>
                </div>
            </div>

            <div class="widget">
                <div class="widget-header">
                    <h3>Implement your career action plan</h3>
                </div>
                <div class="widget-body">
                    Once you have developed your plan, gained feedback on your plan, and have the support of your Mentor or Manager, you are ready to put your plan to work    
                </div>
                <div class="widget-footer">
                    <p>LEARN MORE <i class="icon icon-arrow-right8 ml-2"> </i></p>
                </div>
            </div>

            <div class="widget">
                <div class="widget-header">
                    <h3>Review and refine your career action plan</h3>
                </div>
                <div class="widget-body">
                    As  you go through the actions of implementing your plan you may learn that some goals require changes, discover opportunities to take advantage of, and experience shifts in interests or context that you want to reflect in your professional development plan    
                </div>
                <div class="widget-footer">
                    <p>LEARN MORE <i class="icon icon-arrow-right8 ml-2"> </i></p>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<style>
.wrapper-widget {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.widget {
    color: #7f7f7f;
    background: #ebebeb;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.1);
    max-width: 350px;
    margin-bottom: 20px;
}

.widget-header h3 {
    font-size: 1.5rem;
    font-weight: 600;
    height: 70px;
    line-height: 1.5;
}

.widget-body {
    font-size: 1.1rem;
    line-height: 1.2;
    height: 110px;
}

.widget-footer a,
.widget-footer p {
    font-size: 1.1rem;
    color: #000000;
    text-decoration: none;
}

.widget-footer p {
    cursor: not-allowed;
}

.widget-footer a:hover {
    color: #7f7f7f;
}
</style>