/** Normalize css **/
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

html {
    font-family: 'Bahnschrift2', 'Open Sans Condensed', Fallback, sans-serif;    
    font-variation-settings: "wght" 300, "wdth" 75;
    font-size: 14px;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%; 
    overflow-y: scroll;
}

body {
    margin: 0;
    background-color: #e2e2e2;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

a {
    background-color: transparent;
    text-decoration: none;
}

/** Helpers **/
.m-1{margin:.3125rem!important}
.mt-1{margin-top:.3125rem!important}
.mr-1{margin-right:.3125rem!important}
.mb-1{margin-bottom:.3125rem!important}
.ml-1{margin-left:.3125rem!important}
.m-2{margin:.625rem!important}
.mt-2{margin-top:.625rem!important}
.mr-2{margin-right:.625rem!important}
.mb-2{margin-bottom:.625rem!important}
.ml-2{margin-left:.625rem!important}
.m-3{margin:1.25rem!important}
.mt-3{margin-top:1.25rem!important}
.mr-3{margin-right:1.25rem!important}
.mb-3{margin-bottom:1.25rem!important}
.ml-3{margin-left:1.25rem!important}
.m-4{margin:1.875rem!important}
.mt-4{margin-top:1.875rem!important}
.mr-4{margin-right:1.875rem!important}
.mb-4{margin-bottom:1.875rem!important}
.ml-4{margin-left:1.875rem!important}
.m-5{margin:3.75rem!important}
.mt-5{margin-top:3.75rem!important}
.mr-5{margin-right:3.75rem!important}
.mb-5{margin-bottom:3.75rem!important}
.ml-5{margin-left:3.75rem!important}

.p-1{padding:.3125rem!important}
.pt-1{padding-top:.3125rem!important}
.pr-1{padding-right:.3125rem!important}
.pb-1{padding-bottom:.3125rem!important}
.pl-1{padding-left:.3125rem!important}
.p-2{padding:.625rem!important}
.pt-2{padding-top:.625rem!important}
.pr-2{padding-right:.625rem!important}
.pb-2{padding-bottom:.625rem!important}
.pl-2{padding-left:.625rem!important}
.p-3{padding:1.25rem!important}
.pt-3{padding-top:1.25rem!important}
.pr-3{padding-right:1.25rem!important}
.pb-3{padding-bottom:1.25rem!important}
.pl-3{padding-left:1.25rem!important}
.p-4{padding:1.875rem!important}
.pt-4{padding-top:1.875rem!important}
.pr-4{padding-right:1.875rem!important}
.pb-4{padding-bottom:1.875rem!important}
.pl-4{padding-left:1.875rem!important}
.p-5{padding:3.75rem!important}
.pt-5{padding-top:3.75rem!important}
.pr-5{padding-right:3.75rem!important}
.pb-5{padding-bottom:3.75rem!important}
.pl-5{padding-left:3.75rem!important}

.cursor-pointer { cursor: pointer; }
.d-flex {display: flex;}


.tooltip {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; */
}

.tooltip .tooltiptext {
    font-size: 1.1rem;
    font-family: 'Bahnschrift2', 'Open Sans Condensed', Fallback, sans-serif;   
    visibility: hidden;
    width: 120px;
    color: #7f7f7f;
    text-align: center;
    padding-bottom: 3px;

    position: absolute;
    z-index: 1;
    width: 120px;

    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}