<script>
export default {
    props: {
        definition: {default: "", required: true, type: String}
    }
}
</script>

<template>
    <p class="definition">{{definition}}</p>
</template>

<style>

p.definition {
    padding: 15px;
    padding-top: 5px;
    color: #7f7f7f;
    font-size: 1.2rem;
}
</style>