<script>
export default {
    
}
</script>

<template>
<div class="d-flex p-10">
    <div class="card-proficiency-level">
        <h2>General Awareness</h2>
        <ul>
            <li>has a fundamental awareness and understanding of basic skills and knowledge involved in the competency</li>
        </ul>
    </div>

    <div class="card-proficiency-level">
        <h2>Practical Knowledge</h2>
        <ul>
            <li> needs and follows rules and guidelines to perform tasks</li>
            <li> adheres to prescribed ways to work in order to execute activities related to the competency</li>
            <li> recognizes the key elements of the competency and why they are important</li>
        </ul>
    </div>

    <div class="card-proficiency-level">
        <h2>Skilled</h2>
        <ul>
            <li> successfully completes straight-forward tasks and smaller, well-scoped challenges independently</li>
            <li>  identifies appropriate actions and modifies guidelines that have been provided to address a challenge</li>
        </ul>
    </div>

    <div class="card-proficiency-level">
        <h2>Expert</h2>
        <ul>
            <li> addresses any challenge or opportunity, regardless of level of complexity</li>
            <li> finds a way to deliver business value for any change challenge</li>
            <li> guides and mentors others in order to help them deliver better business outcomes</li>
            <li> is sought after for expertise and guidance in addressing business challenges</li>
            <li> provides insight to situations that fall within (or outside of) the sphere of influence</li>
            <li> is sought after for expertise and guidance in addressing business challenges</li>
        </ul>
    </div>

    <div class="card-proficiency-level">
        <h2>Strategist</h2>
        <ul>
            <li>challenges the status quo to develop innovative solutions that help advance business analysis as a discipline, practice or profession</li>
        </ul>
    </div>

</div>
</template>

<style>
.p-10 {
    padding: 10px;
    padding-left: 20px;
}

.card-proficiency-level {
    margin: 10px
}

.card-proficiency-level h2 {
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
    color: #7f7f7f;
}

.card-proficiency-level ul {
    font-size: 13px;
    color: #7f7f7f;
}
</style>